
<div class="span6">
  <form name="form1" enctype="multipart/form-data" method="post" novalidate action="https://tradeoo.wufoo.com/forms/z7x4m1/#public">
      <div class="controls controls-row">
          <input id="name" name="Field9" type="text" class="span3" placeholder="Name"> 
          <input id="email" name="Field3" type="email" class="span3" placeholder="Email address">
      </div>
      <div class="controls">
          <textarea id="message" name="Field4" class="span6" placeholder="Your Message" rows="5"></textarea>
      </div>
      
      <div class="controls">
          <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
      </div>

      <div class="hide">
      	<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
			<input type="hidden" id="idstamp" name="idstamp" value="sA/5O374pTwM0fXxUg6t/uGKZ3j97330Y1uTTK9wZts=" />
      </div>
  </form>
</div>

