<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>




<script type="text/javascript">


	
</script>

<div id="hometest" class="btn">click me!! for javascript test
	
</div>
<% if user_signed_in? %>
		<%= @useremail %>
<% end %>

