

<body>

  <div id="prelaunchcontainer1">
	  <div id="prelaunchcontainer">	
	    <div id="main" role="main" class="homebox">
			<div class="prelaunchlogo">
				<%= image_tag('logo.png') %>
			</div>


			<div class="launch-content">
				<h2> Helping you to be a better trader !</h2>

				<h4>Tradeoo.in helps you to take more informed decision and keep you on track while making trades.You can visit our test website here. <br>
					<a href="http://test.tradeoo.in" title="test.tradeoo.in">test.tradeoo.in</a></h4>
			</div>



			<div class="signup-box">
				<div class="prelaunchemail input-append" class="clearfix">
					<form action="http://tradeoo.createsend.com/t/i/s/pdruh/" method="post" id="subForm">
	  					<input type="text" name="cm-pdruh-pdruh" id="fieldEmail appendinputbuttons" class="email_addr span4" placeholder="your email (we won't share it!)">
	  					<button class="launch-submit btn btn-success" type="button">Request an Invite</button>
					</form>
				</div>
			</div>

			<button id="team" type="" class="btn btn-info">Team</button>

			<div class="launch-footer">


				<div class="launch-team">
					Ankit Agarwal
				</div>

				<div class="launch-links">
					
				</div>


			</div>

	    </div>
	  </div>  

  </div> 




</body>
</html>