<h1>New stock</h1>

<%= render 'form' %>

<%= link_to 'Back', stocks_path %>

  <style>
  .ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
  }
  #city { width: 25em; }
  </style>
  <script>
  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#city" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/list.json",
          dataType: "json",
          data: {
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return {
                label: item.label,
                value: item.value
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="city">Your city: </label>
  <input id="city">
  Powered by <a href="http://geonames.org">geonames.org</a>
</div>
 
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>







<script>
	var data2 = [{"id":1397,"value":"3IINFOTECH","label":"3i Infotech Limited"},{"id":1398,"value":"ABCIL","label":"Aditya Birla Chemicals (India) Limited"},{"id":1399,"value":"ACROPETAL","label":"Acropetal Technologies Limited"}];


	$(function() {
		$( "#search" ).autocomplete(
		{	
			minLength: 2,
			// autoFocus: true,
			focus: function( event, ui ) {
		        $( "#search" ).val( ui.item.value );
		        return false;
		      },
			 source:"/list.json"
		}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      		return $( "<li>" )
       		 .append( "<a>" + item.label + "<br>" + item.value + "</a>" )
      		  .appendTo( ul );
      		};
	});
</script>
<input type="text" id="search" />