@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url(bg.png);

}

#pagecontent{
  min-height: 500px;  
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid grey;
  color: white;
  a {
    color: white;
    &:hover { 
      color: white;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


.well {
  padding: 5px;
}

.container {
  width: 90%;
}

th {
  padding: 10px;
}

td{
  text-align: center;
}

.newportbtn{
  display: inline;
  float: right;
}

.portinline{
  display: inline;
}
.tradetable{
  font-size: 10px;
}

.colorb{
  border-color: red;
}

.span7{
  margin-left: 0% !important;
}

.home-container{
  margin-top: 50px;
}

.homepage{
  margin-top: 50px;
}


.home-signup-box {
background-color: rgba(0, 0, 0, 0.8);
border-radius: 6px;
display: inline-block;
margin-left: 47%;
margin-right: 0;
margin-top: 40px;
min-width: 600px;
padding: 25px;
width: 55%;
border: 5px solid white;
}


.home-signup-box .control-label{
  color: white;
}

.home-signup-box legend{
  color: white;
  font-family: sans-serif;
}

.home-signin-box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  display: inline-block;
  margin:4% 20% 4% 20%;
  margin-top: 40px;
  min-width: 600px;
  padding: 25px;
  width: 55%;
  border: 5px solid white;
  color: white;
}

.home-signin-box legend{
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.home-signin-box #user_remember_me {
  margin-bottom: 6px;
  margin-left: 180px;
}

.home-signin-box .checkbox-label {
  display: inline-block;
}

.home-signin-box .input-append{
  display: block;
}