<footer class="footer navbar-pull-bottom">
  <small>
    <a href="#">Tradeoo.in</a>
  </small>
  <nav>
    <ul class="">
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">Faq</a></li>
    </ul>
  </nav>
	
</footer>