<footer class="footer navbar-pull-bottom">
  <small>
    <a href="#">Tradeoo.in</a>
  </small>
  <nav>
    <ul class="">
      <li id="about"><%= link_to "About", about_path %></li>
      <li id="contact"><%= link_to "Contact", contact_path %></li>
      <li id="faq"><%= link_to "FAQ", faq_path %></li>
    </ul>
  </nav>
	
</footer>